*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    background: url(../photos/new.jpg);
}
body{
    background-color: aqua;
    background: 
    url('photos/new.jpg')no-repeat center center fixed;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgba(0, 0, 0, 0.3);
    
    
    justify-content: center;
    align-items: center;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h2{
    position: absolute;
    align-self: center;
}